@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#root {
  @include flex-column;
  gap: 20px;
  min-height: 100vh;
  width: 100%;
  // max-width: 1400px;
  margin: 0 auto;

  // border: 1px dashed $black;
}
